@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(31, 31, 28);
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
}

.section-title {
    font-size: 3rem;
    margin-top: 90px;
    margin-bottom: -25px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color:#ffffff;
}

/* Seção de Apresentação */

#presentation {
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;
}

#presentation .cta:hover {
    color: black;
    font-weight: 500;
    background-color: gold;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;   
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Seção de Portifólio */

#portifolio {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 40px; */
}

/* #portifolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

} */

#portifolio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px 0;
}

.project-item {
    overflow: hidden;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.project-info {
    padding: 15px;
    flex-basis: 50%;
    width: 50%;
    /* height: 100%; */
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
    background-image: linear-gradient(60deg, #c64ee4 0%, #06376b 100%);
    color: white;
    transition: .5s ease;
    cursor: pointer;
}

#portifolio .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#portifolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 0 auto;
}

#portifolio .project-info:hover {
    background-image: linear-gradient(60deg, #06376b 0%, #c64ee4 100%);
}

#portifolio .project-info p {
    color: black;
    font-size: 1.2rem;
    text-align: justify;
}

.project-img {
    flex-basis: 96%;
    /* width: 220px; */
    width: 96%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* background-image: linear-gradient(60deg, #c64ee4 0%, #06376b 100%); */
}

#portifolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    /* height: 100%;
    width: 100%; */
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    opacity: 0.7;
}

/* EFEITO NA VELOCIDADE DO HOVER DA IMAGEM */
#portifolio .project-img {
    transition: 0.5s ease transform;
}

/* EFEITO NA IMAGEM */

/* OUTRO TIPO DE EFEITO NA IMAGEM */
#portifolio .project-item:hover .project-img {
    /* transform: scale(0.9); */
    transform: scale(1.1);
}

/* Rodapé */
#rodape {
    padding: 25px 0;
    background-image: linear-gradient(60deg, #c64ee4 0%, #5628a0 50%, #061d5e 100%);
    display: block;
    text-align: center;
    color: #ffffff;
}

#rodape h5{
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 0.07rem;
    color: #ffffff;
}


/* Keyframes */
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: gold;
        font-weight: 500;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
    
}

/* Media Query */

@media only screen and (min-width: 650px) {
    .project-img {
        flex-basis: 90%;
        width: 220px;
    }

}